<%# app/views/bravura_template_prime/blog/_featured_articles.html.erb %>
<h2>#FIXME: needs variables from renderer </h2>
<div class="featured-articles-wrapper grid grid-cols-1 gap-8 mt-8 xl:grid-cols-2">
  <%#= render partial: '/bravura_template_prime/blog/index/featured_article_main',
  locals: { article: articles[0] } if articles[0].present? %>

  <div class="space-y-8">
    <%#= render partial: '/bravura_template_prime/blog/index/featured_article_main',
      locals: { article: articles[1] } if articles[1].present? %>
    <%#= render partial: '/bravura_template_prime/blog/index/featured_article_main',
      locals: { article: @featured_articles[2] } if @featured_articles[2].present? %>
  </div>
</div>
