<%# app/views/bravura_template_prime/blog/_search_form.html.erb %>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-8">
  <%= form_with(url: blog_index_path, method: :get, local: true, class: "flex") do |f| %>
    <%= f.text_field :query, 
        value: @query, 
        placeholder: "Search posts...", 
        class: "flex-grow p-2 border rounded-l" %>
    <%= f.submit "Search", 
        name: nil, 
        class: "bg-primary-500 text-white p-2 rounded-r cursor-pointer" %>  
<% end %>
</div>