<section class="bg-white py-12 sm:py-16 lg:py-20">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
		<div class="text-center">
            <%# FIXME: Reintroduce sort_by to sort list of authors %>
            <%#= render  "bravura_template_prime/authors/index/sort_by" %>
		</div>
		<div class="flow-root max-w-2xl mx-auto mt-12">
			<ul class="divide-secondary-200 -my-6 divide-y">
                <%= render partial: "bravura_template_prime/authors/index/author", collection: @authors %>
			</ul>
		</div>
	</div>
</section>
