<!-- app/views/newsletter_subscriptions/_newsletter_subscription.html.erb -->
<div id="<%= dom_id(newsletter_subscription) %>" class="newsletter-subscription">
  <p><%= newsletter_subscription.email %> has been subscribed!</p>
</div>