<h1>Blog Index Bro</h1>
<p>This is the index template for BravuraTemplatePrime.</p>
<% if @general_blog_hero_title %>
  <h2>general is positive</h2>
  <h2><%= @general_blog_hero_title %></h2>
<% end %>
