<p>lorem ipsum</p>
<ul class="footer-social-links flex flex-wrap items-center justify-center gap-5 list-none">
<li>
  <a
    target="_blank"
    rel="noopener"
    href="https://twitter.com/feather_blogs"
    class="inline-flex h-10 w-10 items-center justify-center text-secondary-600 transition-all duration-200 rounded-full hover:bg-primary-50 hover:text-primary-700"
    data-umami-event="Clicked Link: https://twitter.com/feather_blogs"
    data-umami-href="https://twitter.com/feather_blogs"
  >
    <span class="sr-only">Twitter</span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-6 w-6">
      <path
        d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z"
      ></path>
    </svg>
  </a>
</li>
<li>
  <a
    target="_blank"
    rel="noopener"
    href="https://cbtblog.feather.blog/_feather/rss.xml"
    class="inline-flex h-10 w-10 items-center justify-center text-secondary-600 transition-all duration-200 rounded-full hover:bg-primary-50 hover:text-primary-700"
    data-umami-event="Clicked Link: /_feather/rss.xml"
    data-umami-href="/_feather/rss.xml"
  >
    <span class="sr-only">RSS Feed</span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-6 w-6">
      <path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"></path>
      <path d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"></path>
      <circle cx="6" cy="18" r="2"></circle>
    </svg>
  </a>
</li>
<li>
  <a
    target="_blank"
    rel="noopener"
    href="https://cbtblog.feather.blog/_feather/sitemap.xml"
    class="inline-flex h-10 w-10 items-center justify-center text-secondary-600 transition-all duration-200 rounded-full hover:bg-primary-50 hover:text-primary-700"
    data-umami-event="Clicked Link: /_feather/sitemap.xml"
    data-umami-href="/_feather/sitemap.xml"
  >
    <span class="sr-only">Sitemap</span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-6 w-6">
      <path
        d="M20 13.01h-7V10h1c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v4c0 1.103.897 2 2 2h1v3.01H4V18H3v4h4v-4H6v-2.99h5V18h-1v4h4v-4h-1v-2.99h5V18h-1v4h4v-4h-1v-4.99zM10 8V4h4l.002 4H10z"
      ></path>
    </svg>
  </a>
</li>
</ul>
