      <p class="copyright-notice text-sm text-secondary-600">
        <% if @gss.get("footer.copyright").present? %>
            <%= @gss.get("footer.copyright") %>
        <% else %>
            &copy; <%= Time.current.year %> <%= "site_name" %>. All Rights Reserved.
        <% end %>
      </p>
