<footer class="footer relative bg-white py-12 sm:py-16">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col items-center gap-y-8 lg:gap-y-12">
      <%= render 'bravura_template_prime/shared/logo' %>
      <%= render 'bravura_template_prime/shared/footer_links' %>
      <%= render 'bravura_template_prime/shared/social_links' %>
      <%= render 'bravura_template_prime/shared/copyright_notice' %>
    </div>
  </div>
</footer>
