<nav class="footer-links">
  <%= link_to "Blog Home", "#", class: "text-base font-medium text-secondary-600 transition-all duration-200 hover:text-primary-500", 'umami-event': "Clicked Link: /all", 'umami-href': "/all" %>

  <%= link_to "Link", "https://feather.so", class: "text-base font-medium text-secondary-600 transition-all duration-200 hover:text-primary-500", target: "_blank", rel: "noopener", 'umami-event': "Clicked Link: https://feather.so", 'umami-href': "https://feather.so" %>

  <%= link_to "Another Link", "https://feather.so/showcase", class: "text-base font-medium text-secondary-600 transition-all duration-200 hover:text-primary-500", target: "_blank", rel: "noopener", 'umami-event': "Clicked Link: https://feather.so/showcase", 'umami-href': "https://feather.so/showcase" %>
</nav>