<div class="shrink-0">
  <%= link_to root_path, class: "logo flex items-center", 'umami-event': "Clicked Link: /", 'umami-href': "/" do %>
    <span class="text-2xl font-bold tracking-tight text-secondary-900">Company</span>
  <% end %>
</div>