<%
  design_navigation_bar_id = @presenter.get('design.navigation_bar_id')
  @current_navigation_bar = NavigationBar.find(design_navigation_bar_id)
%>

<% links = [
  { text: "Blog Home", href: "/all", event: "Clicked Link: /all", external: false },
  { text: "Some Link", href: "https://feather.so", event: "Clicked Link: https://feather.so", external: true },
  { text: "Some Other Link", href: "https://feather.so/showcase", event: "Clicked Link: https://feather.so/showcase", external: true }
] %>

<div class="nav-link-wrapper-left hidden lg:flex lg:items-center lg:justify-end lg:gap-4 lg:mr-auto lg:ml-8">
  <% links.each do |link| %>
    <%= link_to link[:href], 
                class: "nav-link nav-link-left group inline-flex items-center justify-center gap-1 text-base transition-all duration-200 rounded-cta-button-radius px-3 py-1.5 hover:bg-secondary-100 focus:outline-none focus:ring-2 focus:ring-offset-2 font-medium text-secondary-500 hover:text-secondary-900 focus:ring-secondary-900",
                'data-umami-event': link[:event], 
                'data-umami-href': link[:href], 
                target: ("_blank" if link[:external]), 
                rel: ("noopener" if link[:external]) do %>
      <%= link[:text] %>
      <% if link[:external] %>
        <svg class="external-link-icon h-5 w-5 ml-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 17L17 7M17 7H7M17 7V17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      <% end %>
    <% end %>
  <% end %>
</div>