<div class="normal-article group relative">
  <%= render 'bravura_template_prime/authors/show/article_cover', article: article %>
  <div class="mt-6">
    <%= render 'bravura_template_prime/authors/show/article_meta', article: article %>
    <%= render 'bravura_template_prime/authors/show/article_content', article: article %>
    <%= render 'bravura_template_prime/authors/show/article_tags', article: article %>
  </div>
</div>