<span aria-hidden="true" class="<%= class_name %>">
  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
    <polyline points="<%= direction == 'down' ? '6 9 12 15 18 9' : '18 15 12 9 6 15' %>"></polyline>
  </svg>
</span>