<%= link_to tag[:path], class: "group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900" do %>
  <span class="truncate"><%= tag[:name] %></span>
<% end %>